@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
      font-family: poppins, sans-serif;
}
.search__container{
      background-color: rgb(125, 99, 240);
      text-align: center;
      line-height: 50px;
}
.search__container input{
      width: 40%;
      padding: 5px;
}

.shop__container{
      display: grid;
      grid-template-columns: 3fr 1fr;
}

.product__container{
      border-right: 1px solid rgb(226, 226, 226);
      margin-right: 10px;
      margin-left: 50px;
}

.pagination{
      margin: 40px;
}
.pagination button{
      padding: 5px 13px;
      margin-right: 20px;
}
.pagination .selected{
      background-color: cornflowerblue;
      color: cornsilk;
}