@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
      font-family: poppins, sans-serif;
}
.product{
      display: flex;
      border-bottom: 1px solid rgb(173, 170, 170);
      margin-right: 5px;
      padding-bottom: 10px;
}
.product__name{
      color: #2769a7;
      font-weight: 400px;
      font-size: 15px;
}
.product__img{
      margin: 10px 25px 5px 0px;
}
.product__seller{
      font-weight: 600;
      font-size: 14px;
}
.product__seller span{
      color: rgb(226, 40, 40);
}

.product__price{
      font-size: 14px;
      font-weight: 600;
      
}
.product__price span{
      font-size: 14px;
      font-weight: 600;
      color: rgb(226, 40, 40);
}
.product__stock span{
      font-weight: 600;
      color: rgb(226, 40, 40);
}

.product__button{
      background-color: #fdc448;
      width: 200px;
      height: 30px;
      border-radius: 4px;
      border-color: #fdc448;
      cursor: pointer;
}
.product__button:hover{
      background-color:hsl(41, 48%, 47%);
}

.icon__color{
      color: gold;
}
.icon__text{
      font-size: 14px;
      font-weight: 600;
}