@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.header{
      text-align: center;
}

.logo{
      height: 80px;
      padding: 10px 0px 10px 0px;
}

.header nav{
      background-color: rgb(56, 166, 240);
      
      line-height: 40px;
      
}
.header nav a{
      text-decoration: none;
      color: #ffffff;
      margin-right: 20px;
      padding: 5px;
      font-size: 20px;
}
.header nav a:hover{
      background-color: #868383;
}
